<div class="page--container">
    <div class="fip-container">
        <div class="bc-logo">
            <a href="{{ __('header.fip-link') }}" aria-label="{{__('Government of British Columbia')}}">
                {# <object data="{{ asset('/img/gov-bc-logo.svg') }}" type="image/svg+xml"></object> #}
                <img src="{{ asset('/img/gov-bc-logo.png') }}"
                     alt="{{__('Government of British Columbia')}}">
            </a>
        </div>
        {# {% include "_includes/languageLink.njk" %} #}
    </div>
</div>
